<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="application-name" value="PushCenter"/>


    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>jobId</key>
            <defaultValue>unknown</defaultValue>
        </discriminator>
        <sift>
            <appender name="${jobId}" class="ch.qos.logback.core.FileAppender">
                <file>${catalina.base}/logs/${application-name}/job-${jobId}.log</file>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%d{HH:mm:ss:SSS} | %-5level | %thread | %logger{20} | %msg%n%rEx</pattern>
                </layout>
            </appender>
        </sift>
    </appender>

    <logger name="core" level="trace" >
        <appender-ref ref="SIFT" />
    </logger>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>








</configuration>