<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>



        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>

        <!-- DB schema will be updated if needed -->
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.current_session_context_class">
            org.springframework.orm.hibernate4.SpringSessionContext
        </property>
        <property name="connection.useUnicode">true</property>
        <property name="hibernate.id.new_generator_mappings">true</property>
        <property name="connection.characterEncoding">UTF-8</property>


    </session-factory>
</hibernate-configuration>