<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 读取properties文件 -->
    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <!-- hr系统使用-->
                <value>classpath:push-resources/hr/Android-push-info.properties</value>
                <value>classpath:push-resources/hr/ios-push-info.properties</value>
                <!-- hr系统结束-->
            </list>
        </property>
        <property name="fileEncoding" value="utf-8"/>
    </bean>

    <beans>
        <description>
            系统节点配置
        </description>

        <bean id="processorChain" class="com.hand.push.core.ProcessorChain">
            <constructor-arg name="processors">
                <array>
                    <ref bean="pushProcessor"/>
                </array>
            </constructor-arg>
        </bean>

    </beans>

    <beans>
        <description>
            HR系统推送相关配置
        </description>

        <bean id="hrApp" class="com.hand.push.core.domain.AppChannel">
            <description>
                HR系统推送相关配置
            </description>
            <constructor-arg name="appName" value="HR"/>
            <constructor-arg name="appSecret" value="handhand"/>
            <constructor-arg name="pushers">
                <array>
                    <ref bean="hrAndroidPusher"/>
                    <ref bean="hriOSPusher"/>
                </array>
            </constructor-arg>
        </bean>

        <bean id="hrAndroidPusher" class="com.hand.push.impl.pushers.AndroidGeTuiPusher">
            <description>
                使用个推进行android推送
            </description>

            <constructor-arg name="appid" value="${androidpush.appid}"/>
            <constructor-arg name="appkey" value="${androidpush.appkey}"/>
            <constructor-arg name="masterSecret" value="${androidpush.mastersecret}"/>
            <constructor-arg name="api" value="${androidpush.api}"/>
        </bean>
        <bean id="hriOSPusher" class="com.hand.push.impl.pushers.iOSPusher">
            <description>
                iOS pusher
            </description>

            <constructor-arg name="certificatePath" value="${dev-certificatePath}"/>
            <!--<constructor-arg name="certificatePath" value="push-resources/hmbsng-apns-Production.p12"/>-->
            <constructor-arg name="certificatePassword" value="${certificatePassword}"/>
            <constructor-arg name="isProduct" value="false"/>
            <!--<constructor-arg name="isProduct" value="true"/>-->
            <!--<constructor-arg name="sound" value="default"/>-->

        </bean>

    </beans>


</beans>