<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">

    <!-- 读取properties文件 -->
    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <!-- hr系统使用-->
                <value>classpath:push-resources/hr/Android-push-info.properties</value>
                <value>classpath:push-resources/hr/ios-push-info.properties</value>
                <!-- hr系统结束-->
            </list>
        </property>
        <property name="fileEncoding" value="utf-8"/>
    </bean>

    <beans>
        <description>
            HR系统推送相关配置
        </description>


        <bean id="hrApp" class="com.hand.push.core.domain.AppChannel"
              c:appName="HR" c:appSecret="handhand" c:pushers-ref="hrAppPusherList">

            <description>
                HR系统推送相关配置
            </description>
        </bean>

        <util:list id="hrAppPusherList">
            <ref bean="hrAndroidPusher"/>
            <ref bean="hriOSPusher"/>
        </util:list>


        <bean id="hrAndroidPusher" class="com.hand.push.impl.pushers.AndroidGeTuiPusher"
              c:appid="${androidpush.appid}" c:appkey="${androidpush.appkey}"
              c:masterSecret="${androidpush.mastersecret}" c:api="${androidpush.api}">

            <description>
                使用个推进行android推送
            </description>
        </bean>

        <bean id="hriOSPusher" class="com.hand.push.impl.pushers.iOSPusher"
              c:certificatePath="${product-certificatePath}"
              c:certificatePassword="${certificatePassword}" c:isProduct="true"><!--c:sound="default" -->

            <description>
                iOS pusher
            </description>
        </bean>
    </beans>

    <!--<beans>-->
        <!--<description>-->
            <!--test系统推送相关配置-->
        <!--</description>-->


        <!--<bean id="testApp" class="com.hand.push.core.domain.AppChannel"-->
              <!--c:appName="test" c:appSecret="handhand" c:pushers-ref="testAppPusherList">-->

            <!--<description>-->
                <!--HR系统推送相关配置-->
            <!--</description>-->
        <!--</bean>-->

        <!--<util:list id="testAppPusherList">-->
            <!--<ref bean="MockAndroidPusher"/>-->
            <!--<ref bean="MockiOSPusher"/>-->
        <!--</util:list>-->


        <!--<bean id="MockAndroidPusher" class="com.hand.push.impl.pushers.test.MockAndroidPusher"-->
             <!-->-->

            <!--<description>-->
                <!--使用个推进行android推送-->
            <!--</description>-->
        <!--</bean>-->

        <!--<bean id="MockiOSPusher" class="com.hand.push.impl.pushers.test.MockIOSPusher"-->
              <!-->&lt;!&ndash;c:sound="default" &ndash;&gt;-->

            <!--<description>-->
                <!--iOS pusher-->
            <!--</description>-->
        <!--</bean>-->
    <!--</beans>-->

</beans>