<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">


    <beans>
        <description>
            系统节点配置
        </description>

        <bean id="processorChain" class="com.hand.push.core.ProcessorChain">
            <constructor-arg name="processors">
                <array>
                    <ref bean="pushProcessor"/>
                    <!--<ref bean="DBProcessor"/>-->
                </array>
            </constructor-arg>
        </bean>
    </beans>

    <beans>
        <description>
            处理节点
        </description>

        <bean id="pushProcessor" class="com.hand.push.impl.processors.PushProcessor" c:register-ref="appRegisterSpringImpl" />
        <bean id="dbProcessor" class="com.hand.push.impl.processors.DBProcessor" c:sessionFactory-ref="SessionFactory"/>
    </beans>

</beans>