<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 读取properties文件 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:push-resources/Android-push-info.properties</value>
				<value>classpath:push-resources/ios-push-info.properties</value>
			</list>
		</property>
		<property name="fileEncoding" value="utf-8" />
	</bean>

    <bean id="finder" class="com.hand.push.core.ComponentFinder">
        <constructor-arg name="pusherClasses" >
            <list>
                <value type="java.lang.Class">com.hand.push.impl.iOSPusher</value>
                <value type="java.lang.Class">com.hand.push.impl.AndroidPusher</value>
            </list>

        </constructor-arg>
    </bean>




</beans>